<!DOCTYPE html>

<html>
<head>
    <style>
    #canliDestek
    {
    display:block;
    bottom:0px;
    margin-left:80%;
    height:150px;
    /*left:0px;*/
    width:130px;
    position:fixed;
    border:0px;
    /*text-align:center;*/
    font-weight:bold;
    width:100%;
    background-color:black;
    opacity:0.6;
    color:white;
    border-radius:10px;
    }
    </style>


    <meta name="viewport" content="width=device-width" />
   

    <title>Ticket House | Bilet Almanın Yeni </title>
    <!-- ======== META TAGS ======== -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- ======== FAVICONS ======== -->
    <link rel="icon" href="favicon.ico">
    <link rel="apple-touch-icon" href="favicon.png">
    <!-- ======== STYLESHEETS ======== -->
    <link rel="stylesheet" href="~/Content/css/normalize.css">
    <link rel="stylesheet" href="~/Content/css/typography.css">
    <link rel="stylesheet" href="~/Content/css/fontawesome.css">
    <link rel="stylesheet" href="~/Content/css/popup.css">
    <link rel="stylesheet" href="~/Content/css/owlslider.css">
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link id="switch_style" rel="stylesheet" href="~/Content/demo/main-color/blue.css">
    <link rel="stylesheet" href="/Content/css/demo.css">
    <!-- ======== RESPONSIVE ======== -->
    <link rel="stylesheet" media="(max-width:768px)" href="/Content/css/responsive-0.css">
    <link rel="stylesheet" media="(min-width:769px) and (max-width:992px)" href="/Content/css/responsive-768.css">
    <link rel="stylesheet" media="(min-width:993px) and (max-width:1200px)" href="/Content/css/responsive-992.css">
    <link rel="stylesheet" media="(min-width:1201px)" href="/Content/css/responsive-1200.css">
    <!-- ======== GOOGLE FONTS ======== -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Titillium+Web:400,300,300italic,400italic,700,700italic,600italic,600">
    <!-- ======== GOOGLE ANALYTICS ======== -->
    <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','http://www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-40004532-8', 'auto');
            ga('send', 'pageview');
    </script>



</head>
<body>

     
        <!-- ======== WRAPPER ======== -->
    <div id="wrapper" class="wide">
        <!-- ======== HEADER ======== -->
        <header id="header" class="style_1">
            <!-- ======== META ======== -->
            <div class="header_meta dark">
                <div class="container">
                    <!-- ======== BUTTON FOR MOBILE MENU ======== -->
                    <a class="open_menu_mobile"><i class="fa fa-bars"></i></a>
                    <!-- ======== NAVIGATION ======== -->
                    <nav class="top_navigation">
                        <ul class="menu">
                            <li class="menu-item-has-children">
                                <a href="index-2.html">Homepages</a>
                                <ul class="sub-menu">
                                    <li><a href="index-2.html">Grid and home blocks</a></li>
                                    <li><a href="index_1.html">Parallax header post</a></li>
                                    <li><a href="index_2.html">Posts carousel slider</a></li>
                                    <li><a href="index_3.html">Regular slider with sidebar</a></li>
                                    <li><a href="index_4.html">Grid with custom image</a></li>
                                    <li><a href="index_5.html">All homepage blocks</a></li>
                                    <li><a href="index_6.html">Blog style home</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="blog_grid.html">Blog</a>
                                <ul class="sub-menu">
                                    <li><a href="blog_grid.html">Blog grid 1</a></li>
                                    <li><a href="blog_grid_1.html">Blog grid 2</a></li>
                                    <li><a href="blog_list.html">Blog list</a></li>
                                    <li><a href="blog_standard.html">Blog standard</a></li>
                                    <li><a href="blog_timeline.html">Blog timeline</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="post_standard.html">Posts</a>
                                <ul class="sub-menu">
                                    <li><a href="post_standard.html">Standard post</a></li>
                                    <li><a href="post_parallax.html">Parallax post</a></li>
                                    <li><a href="post_gallery.html">Gallery post</a></li>
                                    <li><a href="post_video.html">Video post</a></li>
                                    <li><a href="post_audio.html">Audio post</a></li>
                                    <li><a href="post_review.html">Review post</a></li>
                                    <li><a href="post_none.html">No featured post</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="page_shortcodes.html">Pages</a>
                                <ul class="sub-menu">
                                    <li><a href="page_shortcodes.html">Shortcodes page</a></li>
                                    <li><a href="page_404.html">404 Page</a></li>
                                    <li><a href="page_author.html">Author page</a></li>
                                    <li><a href="page_contact.html">Contact page</a></li>
                                    <li><a href="page_fullwidth.html">Full width page</a></li>
                                    <li><a href="page_left_sidebar.html">Left sidebar page</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="shop_category.html">Shop</a>
                                <ul class="sub-menu">
                                    <li><a href="shop_category.html">Shop category</a></li>
                                    <li><a href="shop_category_left_sidebar.html">Shop and left sidebar</a></li>
                                    <li><a href="shop_category_right_sidebar.html">Shop and right sidebar</a></li>
                                    <li><a href="shop_single.html">Single product</a></li>
                                    <li><a href="shop_single_left_sidebar.html">Single and left sidebar</a></li>
                                    <li><a href="shop_single_right_sidebar.html">Single and right sidebar</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="gallery_category.html">Gallery</a>
                                <ul class="sub-menu">
                                    <li><a href="gallery_category.html">Gallery category</a></li>
                                    <li><a href="gallery_single.html">Gallery single</a></li>
                                </ul>
                            </li>
                            <li><a href="http://themeforest.net/?ref=CodeoStudio" target="_blank">Buy template</a></li>
                        </ul>
                    </nav>
                    <div class="search_block">
                        <form>
                            <input type="search" placeholder="Type and press enter...">
                            <i class="fa fa-search"></i>
                        </form>
                    </div>
                </div>
            </div>
            <!-- ======== BODY ======== -->
            <div class="header_body light">
                <div class="container">
                    <!-- ======== LOGO TEXT ========
                    <div class="logo_brand">
                        <h1><a href="index.html">GoodStart</a></h1>
                        <h2>Premium Magazine Theme</h2>
                    </div> -->
                    <!-- ======== LOGO IMG ======== -->
                    <div class="logo_brand">
                        <a href="index-2.html">
                            <img src="/Content/demo/GoodStart_dark.png" alt="GoodStart">
                        </a>
                    </div>
                    <!-- ======== BANNER ======== -->
                    <div class="banner">
                        <a href="http://themeforest.net/?ref=CodeoStudio" target="_blank">
                            <img src="/Content/demo/banners/728x90.jpg" alt="GoodStart">
                        </a>
                    </div>
                </div>
            </div>
            <!-- ======== MENU ======== -->
            <div class="sticky_menu header_menu dark">

                @{
                    @Html.Action("_Anakategori", "Kategori");


                }
                @*@Html.Partial("~/Views/Kategori/_AnaKategori.cshtml") @*----------------------Üst Kategori Partial Yolu--------------------*@

                <div class="header_border"></div>
            </div>
        </header>
        <!-- ======== GRID BLOCK ARTICLES ======== --><!-- ======== Öne Çıkan Resimler ======== -->
       



                    <div>
                        @RenderBody()
                    </div>



                    </div>
                  </div>
                 </div>
                </div>
            </section>
            <!-- ======== BREAKING NEWS ======== -->

             @Html.Partial("~/Views/Home/_EtkinlikBasvuru.cshtml")  @*Etkınlık basvurusu yapmak için sayfann en alt kısmı*@

            @*<div class="breaking_news footer dark">
                <div class="container">
                    <div class="breaking_title">Breaking news</div>
                    <div class="breaking_block">
                        <div class="item">
                            <span class="date">14:56 AM</span>
                            <h4><a href="post_gallery.html">In his latest book, Dr. Offit takes aim at those who use religious reasoning to disavow lifesaving medical treatments</a></h4>
                        </div>
                        <div class="item">
                            <span class="date">14:56 AM</span>
                            <h4><a href="post_gallery.html">In 'Rocket to the Moon,' a Dentist Deals With a Midlife Crisis</a></h4>
                        </div>
                        <div class="item">
                            <span class="date">14:56 AM</span>
                            <h4><a href="post_gallery.html">In 'Rocket to the Moon,' a Dentist Deals With a Midlife Crisis</a></h4>
                        </div>
                    </div>
                </div>
            </div>*@
            <!-- ======== FOOTER ======== -->
            <footer id="footer" class="three">
                <div class="container">
                    <div class="row">
                        <!-- ======== WIDGET - TEXT ======== -->
                        <div class="widget widget_text">
                            <div class="widget_title">
                                <h4> <a href="@Url.Action("Index","Hakkimizda") "style="color:white">Hakkımızda</a></h4>
                            </div>
                            <div class="textwidget">
                                <p><img src="/Content/demo/GoodStart_light.png" alt="GoodStart"></p>
                                <p>Biz Kimiz?</p>
                                <p>
Türkiye’nin eğlence sektöründe lider biletleme firmasıyız. Ödüllü web sitemiz, çağrı merkezimiz, perakende satış noktalarımız, mobil, kiosk ve banka ATM ağı uygulamalarımız ile tüm Türkiye çapında hizmet sunuyoruz.</p>
                                @*<p>GoodStart focus on great user experience, content presentation and precise interaction.</p>*@
                            </div>
                        </div>
                        <!-- ======== WIDGET - REVIEW POSTS ======== -->
                        <div class="widget widget_review_posts">
                            <div class="widget_title">
                                <h4>Yaklaşan Etkinlikler</h4>
                            </div>
                            <div class="item">
                                <div class="item_header">
                                    <div class="rate_box">
                                        <div class="image"><img src="/Content/demo/post-list/5.jpg" alt="Image"></div>
                                        <div class="info">
                                            <div class="score">4.50</div>
                                            <div class="summary">Awesome</div>
                                        </div>
                                    </div>
                                    <div class="rate_stars">
                                        <div class="star-rating" title="Rated 4.50 out of 5">
                                            <span style="width: 90%">4.50 out of 5</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item_wrapper">
                                    <div class="item_content">
                                        <h4><a href="post_gallery.html">Sarah Manguso Offers Crumbs Relating to Her Diary</a></h4>
                                    </div>
                                    <div class="content_meta">
                                        <span class="category"><a href="blog_grid.html">Movies</a></span>
                                        <span class="comments"><a href="post_gallery.html">654 Comments</a></span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item_header">
                                    <div class="rate_box">
                                        <div class="image"><img src="/Content/demo/post-list/1.jpg" alt="Image"></div>
                                        <div class="info">
                                            <div class="score">3.00</div>
                                            <div class="summary">Good</div>
                                        </div>
                                    </div>
                                    <div class="rate_stars">
                                        <div class="star-rating" title="Rated 3.00 out of 5">
                                            <span style="width: 60%">3.00 out of 5</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item_wrapper">
                                    <div class="item_content">
                                        <h4><a href="post_gallery.html">In Performance: Tonya Pinkins and Dianne Wiest of 'Rasheeda Speaking'</a></h4>
                                    </div>
                                    <div class="content_meta">
                                        <span class="category"><a href="blog_grid.html">Travel</a></span>
                                        <span class="comments"><a href="post_gallery.html">14 Comments</a></span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item_header">
                                    <div class="rate_box">
                                        <div class="image"><img src="/Content/demo/post-list/3.jpg" alt="Image"></div>
                                        <div class="info">
                                            <div class="score">1.50</div>
                                            <div class="summary">Very bad</div>
                                        </div>
                                    </div>
                                    <div class="rate_stars">
                                        <div class="star-rating" title="Rated 1.50 out of 5">
                                            <span style="width: 30%">1.50 out of 5</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item_wrapper">
                                    <div class="item_content">
                                        <h4><a href="post_gallery.html">'Better Call Saul' Recap: Of Sound Mind</a></h4>
                                    </div>
                                    <div class="content_meta">
                                        <span class="category"><a href="blog_grid.html">Fashion</a></span>
                                        <span class="comments"><a href="post_gallery.html">0 Comments</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ======== WIDGET - LATEST COMMENTS ======== -->
                        <div class="widget widget_latest_comments">
                            <div class="widget_title">
                                <h4>Son Yorumlar / En Çok Satılanlar</h4>
                            </div>
                            <div class="item">
                                <div class="item_header">
                                    <img src="/Content/demo/avatars/1.jpg" alt="Avatar">
                                </div>
                                <div class="item_wrapper">
                                    <div class="author"><a href="#">Michelle MacLaren</a> <span>says:</span></div>
                                    <div class="comment">In Reif Larsen's 'I Am Radar,' Odyssey of Exploding Particles [...]</div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item_header">
                                    <img src="/Content/demo/avatars/2.jpg" alt="Avatar">
                                </div>
                                <div class="item_wrapper">
                                    <div class="author"><a href="#">Sam Catlin</a> <span>says:</span></div>
                                    <div class="comment">Review: In 'Addicted to the Spotlight,' Mark Nadler Is All Hot-Wired Energy [...]</div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item_header">
                                    <img src="/Content/demo/avatars/3.jpg" alt="Avatar">
                                </div>
                                <div class="item_wrapper">
                                    <div class="author"><a href="#">Bronwen Hughes</a> <span>says:</span></div>
                                    <div class="comment">The entertainer wants nothing less than to knock your socks off and break your heart at the same time in his new cabaret show at 54 Below in New York [...]</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- ======== COPYRIGHT ======== -->
            <div id="copyright">
                <div class="container">
                    <p>&copy; Copyright 2015. All rights reserved.<br>
                        Made by <a href="http://themeforest.net/?ref=CodeoStudio" target="_blank">CodeoStudio</a> :)</p>
                </div>
            </div>
        </div>
        
        <!-- ======== JAVASCRIPTS ======== -->
        <script src="/Content/js/jquery.min.js"></script>
        <script src="/Content/js/jquery.ui.min.js"></script>
        <script src="/Content/js/jquery.fitvids.js"></script>
        <script src="/Content/js/jquery.owlcarousel.min.js"></script>
        <script src="/Content/js/jquery.magnific.popup.min.js"></script>
        <script src="/Content/js/jquery.parallax.min.js"></script>
        <script src="/Content/js/jquery.smooth.scroll.js"></script>
        <script src="/Content/js/jquery.demo.js"></script>
        <script src="/Content/js/jquery.init.js"></script>


    <div id="canliDestek">

      Burada Canlı Destek Olacak



    </div>
   
</body>
</html>
