
@{
    ViewBag.Title = "SifremiUnuttum";
    Layout = "~/Views/Shared/_LayoutPageAnasayfa.cshtml";
}
 <section id="page_wrapper">
        <div class="container">
            

@if (Session["UyeGiris"] == null)
{



                <div class="widget widget_review_posts" style="width:1000px">
                    <div class="widget_title">
                        <h4>E-Posta Adresinize Şifrenizi Göndereceğiz</h4>
                    </div>

                    <div class="item" style="float:left">
                        <div class="item_header">

                        </div>
                        <div class="item_wrapper" style="border-radius:10px;width:800px;margin-left:12%" >
                            <div class="item_content">
                                <form action="/Uye/MailGonder" method="post">
                                    <a style="margin-left:10%">E-Posta Adresinizi Giriniz : </a>
                                        <input type="text" name="EMail" value="" style="width:600px;margin-left:10%;" /><br />

                                    @if (ViewBag.Durum == "Sistemde Kayıtlı E-Posta Adresiniz Bulunmamaktadır.")
                                    {
                                        <span style="color:red;margin-left:25%">@ViewBag.Durum    </span>
                                    }
                                    else if (ViewBag.Durum == "Mail Adresinize Şifreniz Gönderilmiştir.")
                                    {
                                        <span style="color:green;margin-left:25%">@ViewBag.Durum    </span>
                                    }

                                    <input type="submit" name="btnSifreGuncelle" value="Şifremi Gönder" style="background-color:#349dc9;margin-left:25%;width:350px" />

                                </form>
                            </div>

                        </div>
                    </div>
                    
                </div>
}

