<div class="breaking_news footer dark">
    <div class="container">
        <div class="breaking_title" style="width:100%;text-align:center"><a href="@Url.Action("Index","EtkinlikBasvuru")" style="color:white">Etkinlik Düzenlemek İstiyorum</a></div>
    </div>
</div>
